mat-card {
  margin: 24px auto;
  max-width: 600px;
  padding: 24px;
}

h2 {
  margin-bottom: 24px;
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}

.error {
  color: red;
  font-weight: 500;
  margin-bottom: 20px;
}
