<div class="login-wrapper">
  <mat-card class="login-card mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Digital Skill Wallet</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onLogin()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            id="email"
            name="email"
            type="email"
            [(ngModel)]="email"
            required
            autocomplete="email"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            id="password"
            name="password"
            type="password"
            [(ngModel)]="password"
            required
            autocomplete="current-password"
          />
        </mat-form-field>

        <div class="action">
          <button mat-raised-button color="primary" type="submit">
            Login
          </button>
        </div>

        <div class="error-msg" *ngIf="errorMsg">
          {{ errorMsg }}
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions align="end">
      <a href="#" (click)="forgotPassword($event)">Forgot password?</a>
    </mat-card-actions>
  </mat-card>
</div>
