<mat-card class="login-card mat-elevation-z6">
  <mat-card-header>
    <mat-card-title class="title-text">🎧 Digital Skill Wallet</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onLogin()" class="login-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="email" name="email" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="password" name="password" required />
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width login-btn">
        Login
      </button>

      <div *ngIf="errorMsg" class="error-msg">{{ errorMsg }}</div>
    </form>
  </mat-card-content>
</mat-card>
